# SERVIDOR #
PORT=3000

# BANCO DE DADOS HOMOLOGAÇÃO #
DB_HOST_TEST=localhost
DB_USER_TEST=root
DB_PASSWORD_TEST=
DB_NAME_TEST=

# BANCO DE DADOS PRODUÇÃO #
DB_HOST_PROD=localhost
DB_USER_PROD=root
DB_PASSWORD_PROD=
DB_NAME_PROD=

# Chaves de API (Mercado Pago)
MP_ACCESS_TOKEN=APP_USR

#NUMERO DE TESTE
NUMERO_ADMIN=557999999999@c.us
