# SERVIDOR #
PORT=3000

# BANCO DE DADOS HOMOLOGAÇÃO #
DB_HOST_TEST=localhost
DB_USER_TEST=root
DB_PASSWORD_TEST=senha_super_secreta
DB_NAME_TEST=mysql_favo_mel

# BANCO DE DADOS PRODUÇÃO #
DB_HOST_PROD=localhost
DB_USER_PROD=root
DB_PASSWORD_PROD=senha_super_secreta
DB_NAME_PROD=mysql_favo_mel

# Chaves de API (Mercado Pago)
MP_ACCESS_TOKEN=APP_USR-1492791407708288-031820-c586212c17fd5dec604dffbca3e0841e-3264812907

#NUMERO DE TESTE
NUMERO_ADMIN=557988562587@c.us
